body {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Cabecera */
.contenedor-cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color:  red;
    flex-wrap: wrap;
}
/* Fin cabecera */


/* Buscador de peliculas */
.container-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100vw;
}

.buscador {
    height: 3rem;
    padding: 0px;
}

.al-contenedor {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.input-search {
    width: 100vw;
}
/* Fin buscador de peliculas */


/* Card */
.contenido-card {
    background-color: deeppink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-between;
    border: 1px solid black;
    min-height: 35rem;
    max-height: 35rem;
}

.img-card {
    display: flex;
    align-items: center;
}

.info-card {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-card {
    padding-top: 2.5rem;
    text-align: center;
    font-size: x-large;
    color: blue;
}

.description-card {
    text-align: justify;
    padding: 1rem;
}
/* Fin card */


.contenedor-contenido {
    margin-top: 2rem;
}





footer{
    background-color: black;
    height: 10px;   
}

